
.backgroundDeg{
    background-color: var(--color-base);
    color: var(--color-primario);
}
.displayFlexCenter{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.displayFlexCenterRes{
    display: flex;
    justify-content: center;    
    align-content: center;
    align-items: center;
}

.menu{
    padding-left: 1.5em;
    padding-right: 1.5em;
    display: flex;
    justify-content: space-evenly;
    height: 45px;
    font-size: 14px;
    opacity: 0.8;
}

.desplegableMenu>a{
    color: var(--color-primario);
    margin: 0 0.8em;
    text-decoration: none; 
}

.logoMenu{
    background-size: 25px;
    background-repeat: no-repeat;
    background-image: url(../src/assets/logoBlanco.svg);
    background-position: center center;
    margin: 0.3em 1em;
    padding-bottom: 40px;
    padding-right: 40px;
}

.menuBrillo{
    opacity: 0.9;
}
.menuBrillo:hover{
    opacity: 1.0;
}
.menuInputCheckbox{
    display: none;
}
.botonMenu{
    position: absolute;
    left: 30px;
    top: 12px;
    display: none;
}

@media screen and  (max-width:600px){

    .menu{
        height: auto; 
        font-size: 1em;
        flex-direction: column;
        padding-left: 0em;
        padding-right: 0em;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;

    }
    .menuBrillo{
        opacity: 1;
    }
    .desplegableMenu{
        justify-content: center;
        background-color: #f5f5f725;
        width: 100%;
        padding: 0 1.5em;
        border-bottom-right-radius: 25px;
        opacity: 0;
        height: 0px;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition-property: clip-path, height, padding, opacity;
        transition-duration: 1.5s;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);    

    }
    .desplegableMenu>a{
        padding: 0.8em;
        border-bottom: solid 2px #f5f5f725;
        width: 100%;
    }
    .displayFlexCenterRes{
        flex-direction: column;
    }

    .botonMenu{
        display: initial;
    }
    .marginBoton{
        padding: 2em;
        z-index: 100;
    }

}

.menuInputCheckbox:checked + .desplegableMenu{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    height: 330px;
    padding: 0.5em 1.5em 2.8em;
    opacity: 1;
}

.marginImg{
    position: absolute;
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transform: rotate(0deg);
    transition-property: clip-path, opacity, transform;
    transition-duration: 1.5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);    
}

.marginImg:hover{
    opacity: 0;
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
    transform: rotate(45deg);    
}

.botonCerrar{
    opacity: 0;
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
    transform: rotate(45deg);
    transition-property: clip-path, opacity, transform;
    transition-duration: 1.5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); 
}

.marginImg:hover + .botonCerrar{
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transform: rotate(90deg);
    transition-property: clip-path, opacity, transform;
}

@media (min-width: 1000px) {

    .logoMenu{
        background-size: 35px;
        padding-bottom: 50px;
        padding-right: 50px;
    }

}
